.base-bg-1 {
	background-color: $base-color-1!important;
	color: white!important;
}

.base-bg-2 {
	background-color: $base-color-2!important;
	color: white!important;
}

.base-bg-3 {
	background-color: $base-bg-color!important;
}