@font-face{
    font-family: KhmerBanteaySreyB;
    src: url('../fonts/KhmerBanteaySreyB.ttf');
}
@font-face{
    font-family: KhmerOSmuol;
    src: url('../fonts/KhmerOSmuol.ttf');
}
@font-face{
    font-family: KhmerOSsiemreap;
    src: url('../fonts/KhmerOSsiemreap.ttf');
}
@font-face{
    font-family: khmerM1;
    src: url('../fonts/khmerM1.volt.ttf');
}
@font-face{
    font-family: KhmerOS;
    src: url('../fonts/KhmerOS.ttf');
}
